@model IEnumerable<AlumnosPagosApp.Models.Pago>

@{
    ViewData["Title"] = "Lista de pagos";
}

<h1>Lista de pagos</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-secondary">Registrar nuevo pago</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concepto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concepto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompletoAl)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PagoID" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.PagoID" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.PagoID" class="btn btn-danger btn-sm">Borrar</a>
                </td>
        </tr>
}
    </tbody>
</table>
